root = true

[*]
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf

[*.{gitattributes, yml, props, vcxproj}]
indent_style = space

[*.{natvis, props, vcxproj, sln, runsettings}]
end_of_line = crlf

[*.{c, cpp, cxx, h, hpp, hxx, inl, toml, xml, py, natvis, props, build, vcxproj, runsettings, yml}]
charset = utf-8
trim_trailing_whitespace = true

[*.sln]
charset = utf-8-bom

