[submodule "external/toml-test"]
	path = external/toml-test
	url = https://github.com/BurntSushi/toml-test.git
[submodule "external/toml-spec-tests"]
	path = external/toml-spec-tests
	url = https://github.com/iarna/toml-spec-tests.git
[submodule "external/dox"]
	path = external/dox
	url = https://github.com/marzer/dox.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/tloptional"]
	path = external/tloptional
	url = https://github.com/TartanLlama/optional.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
