[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/mcss"]
	path = extern/mcss
	url = https://github.com/mosra/m.css.git
[submodule "extern/tloptional"]
	path = extern/tloptional
	url = https://github.com/TartanLlama/optional.git
