html, body
{
	scroll-padding-top: 3.5rem;
}

body
{
	margin-top: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
	body
	{
		margin-top: 6rem;
	}
}

a
{
	text-decoration: none !important;
}

header
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

header, header *
{
	white-space: nowrap;
}

article div > section
{
	margin-top: 3rem;
}

article div > section > section
{
	margin-bottom: 2.25rem;
}

article section.m-doc-details > div
{
	background-color: rgba(0,0,0,0.07)
}

article section.m-doc-details > div > h3:first-child
{
	background-color: #22272e;
}

pre, code, .dox-enable-if > a
{
	font-family: 'Consolas', 'Source Code Pro', monospace;
}

a.dox-external
{
	font-weight: normal;
}
pre.m-code a,
pre.m-console a
{
	font-weight: inherit !important;
	color: inherit !important;
}
pre.m-code a:hover,
pre.m-console a:hover
{
	text-decoration: underline !important;
}

.dox-enable-if
{
	margin-bottom: 2px;
}

.dox-enable-if > *
{
	display: inline-block;
	border-radius: 0.2rem;
	background-clip: padding-box !important;
	padding: 0px 2px;
	text-decoration: none;
}

.dox-enable-if > a
{
	white-space: nowrap;
	font-size: 0.7rem;
	font-weight: bold;
	background-color: #858585;
	color: #050505;
}

.dox-enable-if > a:hover
{
	background-color: #747474;
	color: initial;
}

.dox-enable-if > span
{
	display: none;
	padding-left: 2em;
}

@media screen and (min-width: 576px)
{
	nav .m-thin
	{
		margin-left: 0.5em;
	}

	nav .github
	{
		padding-left: 44px !important;
		background-image: url("dox-github-icon.png");
		background-repeat: no-repeat;
		background-size: 25px 25px;
		background-position: -30px center;
		background-origin: content-box;
	}
}

@media screen and (max-width: 575px)
{
	nav .m-thin, nav .github
	{
		display: none;
	}
}

/* code blocks w/ output examples */
pre.m-code + pre.m-console
{
	margin-top: -1.0rem;
	border-top: 1px solid #444444;
	font-size: 0.8rem;
	background-color: #1a1c1d !important;
}
pre.m-code + pre.m-console span
{
	color: #bababa; /* is yououou */
}

/* "Parameters", "Returns", subheadings inside description blocks, etc */
.m-doc-details div > h4,
.m-doc-details div > h5,
.m-doc-details div > h6,
.m-doc-details div > table.m-table th,
.m-doc-details div > table.m-table td > h3,
.m-doc-details div > table.m-table td > h4,
.m-doc-details div > table.m-table td > h5,
.m-doc-details div > table.m-table td > h6,
.m-doc-details div > table.m-table td > strong > em,
.m-doc-details div > table.m-table td > p > strong > em
{
	color: #a5c9ea;
	font-style: normal;
}
.m-doc-details div > table.m-table td > strong > em,
.m-doc-details div > table.m-table td > p > strong > em
{
	display:block;
}
.m-doc-details div > table.m-table td > strong:not(:first-child) > em,
.m-doc-details div > table.m-table td > p:not(:first-child) > strong > em
{
	margin-top: 1.0rem;
}

/* comments */
.m-code .c1,
.m-code .cm
{
	color: rgb(87,166,74) !important;
}

/* int and float literals, enum values */
.m-code .mb,
.m-code .mi,
.m-code .mf,
.m-code .mh,
.m-code .ne
{
	color: rgb(181,206,168);
}

/* keywords */
.m-code .k
{
	color: rgb(86,156,214);
}
.m-code .kt,
.m-code .k,
.m-code .nc
{
	font-weight: normal;
}

/* identifier names */
.m-code .n
{
	color: rgb(220,220,220);
}

/* punctuators (brackets etc) */
.m-code .p
{
	color: rgb(120,120,120);
}

/* preprocessor directives */
.m-code .cp
{
	color: rgb(120,120,120);
}

/* macros */
.m-code .m
{
	color: rgb(190,183,255);
}

/* string literals, "includes" */
.m-code .s,
.m-code .sa,
.m-code .dl,
.m-code .cpf
{
	color: rgb(214,157,133);
}

/* user types and typedefs */
.m-code .ut,
.m-code .nc
{
	color: rgb(78,201,176);
}

/* namespace::scopes:: */
.m-code .ns
{
	color: rgb(140,140,140);
}

/* github badges (index.html) */
.gh-badges
{
	padding-bottom: 0.25rem;
	margin-left: -0.9rem;
	margin-right: -0.9rem;
	margin-top: -0.5rem;
}
@media screen and (min-width: 992px)
{
	.gh-badges
	{
		display: flex;
		justify-content: space-between;
	}
	.gh-badges br
	{
		display: none;
	}
}
@media screen and (max-width: 991px)
{
	.gh-badges
	{
		text-align: center;
		line-height: 1.75rem;
	}
	.gh-badges a
	{
		margin-left: 0.2rem;
		margin-right: 0.2rem;
		margin-bottom: 0.4rem;
	}
}

/* page category subheading ("module" etc) */
h1 span.m-thin
{
	color: #747474;
}

/* banner on index page */
.main_page_banner
{
	margin-left: -1rem !important;
	margin-right: -1rem !important;
	margin-top: -1.75rem !important;
	max-width: calc(100% + 2rem) !important;
}

/* include <blah.h> */
.m-doc-details div h3
{
	overflow: auto;
}
h1 .m-doc-include,
h3 .m-doc-include
{
	float: right;
}
h1 .m-doc-include *,
h3 .m-doc-include *
{
	opacity: 1.0 !important;
}
h1 .m-doc-include .cp,
h3 .m-doc-include .cp
{
	color: #747474;
}

/* "Try this code on Compiler Explorer" */
.godbolt
{
	font-family: 'Source Sans Pro', sans-serif;
}
p.godbolt
{
	text-align: center;
	padding: 0.0rem;
	text-indent: 0.0rem;
	opacity: 0.5;
}
p.godbolt:hover
{
	opacity: 1.0;
}
a.godbolt
{
	padding: 0.5rem;
	display: inline-block;
}
pre > p.godbolt
{
  float: right;
}
@media screen and (max-width: 767px)
{
	.godbolt
	{
		display: none;
	}
}

/* figures with captions */
figure.m-figure > figcaption
{
	font-weight: initial !important;
	font-size: initial !important;
	text-align: center;
	margin-top: initial;
}

figure.m-figure::before
{
	border-style: none !important;
}

/* headers in blocks and notes (warnings, remarks, attention, etc.) */
.m-block > h3,
.m-block > h4,
.m-note > h3,
.m-note > h4
{
	font-size: 1em;
}

/* lists inside blocks and notes */
.m-block li,
.m-note li
{
	margin-bottom: 0.2rem;
}

.m-block li:last-child,
.m-note li:last-child
{
	margin-bottom: initial;
}

/* 'dim' blocks and notes */
.m-block.m-dim code,
.m-note.m-dim code
{
	color: #acacac;
}
.m-block.m-dim pre.m-code,
.m-note.m-dim pre.m-code
{
	opacity: 0.85;
}

/* word-breaks in doc links */
p a.m-doc > wbr
{
	display: none;
}

/* m-special (purple) */
.m-note.m-special,
table.m-table tr.m-special td,
table.m-table td.m-special,
table.m-table tr.m-special th,
table.m-table th.m-special
{
	background-color: #532f64;
	color: #ce97e8;
}
.m-note.m-special a,
.m-block.m-special a,
table.m-table tr.m-special td a,
table.m-table td.m-special a,
table.m-table tr.m-special th a,
table.m-table th.m-special a
{
	color: #a061bd;
}
.m-note.m-special a:hover,
.m-block.m-special a:hover,
table.m-table tr.m-special td a:hover,
table.m-table td.m-special a:hover,
table.m-table tr.m-special th a:hover,
table.m-table th.m-special a:hover,
.m-note.m-special a:focus,
.m-block.m-special a:focus,
table.m-table tr.m-special td a:focus,
table.m-table td.m-special a:focus,
table.m-table tr.m-special th a:focus,
table.m-table th.m-special a:focus,
.m-note.m-special a:active,
.m-block.m-special a:active,
table.m-table tr.m-special td a:active,
table.m-table td.m-special a:active,
table.m-table tr.m-special th a:active,
table.m-table th.m-special a:active
{
	color: #e4a8ff;
}
div.m-button.m-special a:hover,
div.m-button.m-special a:focus,
div.m-button.m-special a:active
{
	background-color: #e4a8ff;
}
.m-block.m-special h3,
.m-block.m-special h4,
.m-block.m-special h5,
.m-block.m-special h6,
.m-block.m-special h3 a,
.m-block.m-special h4 a,
.m-block.m-special h5 a,
.m-block.m-special h6 a,
.m-text.m-special,
.m-label.m-flat.m-special
{
    color: #b65ad7;
}
.m-block.m-special
{
    border-left-color: #b65ad7;
}
div.m-button.m-special a,
.m-label:not(.m-flat).m-special
{
    background-color: #b65ad7;
}

/* sub-headings that are the last thing in a block */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
{
	margin-bottom: 0.0rem;
}
