/*
table.m-table th
{
	color: #ffe698;
}
article section > h2
{
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	background-color: #282e36;
	padding-left: 1rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: 2rem;
	border-color: #282e36;
	border-style: solid;
	border-width: 0.0625rem;
	border-left-width: 0.25rem;
	border-radius: 0.2rem;
}
article section:target
{
	border-radius: 0.2rem;
}
article section:target > h2
{
	border-color: #a5c9ea;
}

table.m-table thead th
{
	border-bottom-width: 0.0rem;
}
table.m-table tbody td
{
	border: 0px;
}
table.m-table thead tr:first-child th
{
	border-top-width: 0.1rem;
}
code.m-code, aside code
{
	margin-left: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.1em;
}
dl.m-doc dd
{
	margin-bottom: 0.8rem;
}

.m-doc-template a, dl.m-doc dd a, ul.m-doc li > span.m-doc a
{
	color: #858585;
}

.m-doc-template a.tpp-external:hover,
  dl.m-doc dd a.tpp-external:hover,
  ul.m-doc li > span.m-doc a.tpp-external:hover
{
	color: inherit;
}

pre, .m-doc-search-content
{
	background-color: #1e1e1e;
}

pre.m-code, code
{
	background-color: #1e1e1e88;
}

article section.m-doc-details > div > h3:first-child, article section > h2, body > footer > nav
{
	background-color: #252526;
}

.tpp-external-navbar
{
	background-color: #007acc11;
}

.m-label:not(.m-flat)
{
	font-weight: bold;
}

div.m-doc-include
{
	font-size: 0.9rem;	
}

.m-doc-include span.cp
{
  display: none;
}

.m-doc-include a.cpf
{
	color: #9999AA;
}

*/

html, body
{
	scroll-padding-top: 3.5rem;
}

body
{
	margin-top: 3rem;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

article, article > header, article section {
	margin-bottom: 3em;
}

pre, code, .tpp-enable-if > a {
	font-family: 'Consolas', 'Source Sans Pro', monospace;
}

a.tpp-external {
	font-weight: normal;
}

.tpp-enable-if {
	margin-bottom: 2px;
}

.tpp-enable-if > * {
	display: inline-block;
	border-radius: 0.2rem;
	background-clip: padding-box !important;
	padding: 0px 2px;
	text-decoration: none;
}

.tpp-enable-if > a {
	white-space: nowrap;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: #858585;
	color: #050505;
	padding-bottom: 0px;
	margin: 0px 1px;
	margin-bottom: 2px;
}

	.tpp-enable-if > a:hover {
		background-color: #747474;
		color: initial;
	}

.tpp-enable-if > span {
	display: none;
	padding-left: 2em;
}

nav .m-thin {
	margin-left: 0.5em;
}

.m-doc-details div table.m-table.m-fullwidth.m-flat thead tr th,
.m-doc-details div table.m-table.m-fullwidth.m-flat tfoot tr th
{
	color: #a5c9ea;
}

/* comments */
.m-code .c1
{
	color: rgb(87,166,74);
}

/* int and float literals */
.m-code .mi,
.m-code .mf
{
	color: rgb(181,206,168);
}

/* keywords */
.m-code .k
{
	color: rgb(86,156,214);
}

/* identifier names */
.m-code .n
{
	color: rgb(220,220,220);
}

/* punctuators (brackets etc) */
.m-code .p
{
	color: rgb(120,120,120);
}

/* preprocessor directives */
.m-code .cp
{
	color: rgb(120,120,120);
}

/* string literals, "includes" */
.m-code .s,
.m-code .s + .n,
.m-code .cpf
{
	color: rgb(214,157,133);
}

.m-code .kt,
.m-code .k
{
	font-weight: normal;
}

/* user types and typedefs */
.m-code .ut
{
	color: rgb(78,201,176);
}

/* namespace::scopes:: */
.m-code .ns
{
	color: rgb(140,140,140);
}